html, body {
    margin: 0;
    height: 100%;
}

body {
    border: 1px solid black;
    display: grid;
    place-items: center;
    background: linear-gradient(to right top, white,yellow,white) no-repeat;
}

.title {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.nextButton {
    background-color: green;
    color: white;
    border-radius: 45%;
    padding:10px
}