.styleButton {
    margin: 3px;
    padding: 10px;
    color: white;
    background-color: black;
    border: 1px solid white;
    transition: 0.2s linear;
}

.styleButton:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}

textarea{
    border: 5px solid white;
    background-color: black;
    color: white;
    font-size: 15px;
}

textarea::placeholder{
    color:white;
    font-size: 15px;
}