<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../static/css/default.css">
    <link rel="stylesheet" href="../static/css/bin2dec.css">
    <script src="static/js/bin2dec.js"></script>

    <title>Conversor Dec &harr; Bin</title>
</head>

<body>
    <h1 class="title">Conversor Dec &harr; Bin</h1>
    <input type="number" id="numberToConvert">
    TODO :P
    <nav>
        <button id="toBin">Dec -> Bin</button>
        <button id="toDec">Bin -> Dec</button>
    </nav>

    <a href="./landpage" class="nextButton">Voltar</a>
</body>

</html>