<!DOCTYPE html>
<html>

<head>
    <title>Portfólio</title>
    <link rel="stylesheet" href="../static/css/default.css">
    <link rel="stylesheet" href="../static/css/portfolio.css">
    <script src="../static/js/makeText.js" defer></script>
</head>

<body>
    <h1 class="title">Páginas - Rafael D. Figueiredo</h1>

    <a class="card" href="./textEditor">Editor de Texto</a>
    <a class="card" href="./bin2dec">Conversor Bin &harr; Dec </a>
    <a class="card" href="./makeText">Criador de Arquivos</a>
    <a class="card" href="https://github.com/rafaeldfigueiredo" target="_blank">LinkedIn</a>
</body>

</html>