<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../static/css/default.css">
    <script src="../static/js/app.js" defer></script>
</head>

<body>
    <h1>Editor de Texto</h1>

    <nav>
        <b class="styleButton bold">B</b>
        <i class="styleButton italic" onclick="italicIt()">I</i> 
        <u class="styleButton underline" onclick="underlineIt()">U</u>
    </nav>

    <textarea id="textArea" name="editor" cols="50" rows="10" placeholder="Digite aqui..."></textarea>
    <button>Salvar</button>
</body>

</html>