<!DOCTYPE html>
<html>

<head>
    <title>Editor de Texto</title>
    <link rel="stylesheet" href="../static/css/default.css">
    <script src="../static/js/textEditor.js" defer></script>
</head>

<body>
    <h1>Editor de Texto</h1>

    <nav>
        <b class="styleButton" id="bold" onclick="boldIt()">B</b>
        <i class="styleButton" id="italic"  onclick="italicIt()">I</i>
        <u class="styleButton" id="underline" onclick="underlineIt()">U</u>
    </nav>

    <textarea id="textArea" cols="50" rows="10" placeholder="Digite aqui..."></textarea>

    <a href="./bin2dec" id="nextButton">Próximo</a>
</body>

</html>